services:
  bench_python:
    build:
      context: .
      dockerfile: python/Dockerfile
    restart: always
    container_name: bench_python
    volumes:
      - ./competitions:/home/bench/competitions:ro
    user: "bench:bench"
    networks:
      - python_no_inet
    environment:
      COMPETITION_ID: ${COMPETITION_ID}
      BENCH_LANG: ${BENCH_LANG}
      BENCH_MODE: ${BENCH_MODE}
      BENCH_FOLDS_OVERRIDE: ${BENCH_FOLDS_OVERRIDE}
      EXTENDED_SCHEMA: ${EXTENDED_SCHEMA}
networks:
  python_no_inet:
    driver: bridge
    internal: true
