- You MUST implement the following Python functions with the exact signatures. Changing their names, arguments, or return types will result in disqualification.
- You may define additional functions, classes, or modules as needed to implement your solution, as long as the required functions above are present with the correct signatures.
- Your submission must be contained in a **single Python file**. All code, including any helper functions or classes, should reside in this file. The evaluation will only consider this file as the final solution.

```python
import pandas as pd
import numpy as np


def train_and_predict(X_train: pd.DataFrame, y_train: pd.DataFrame, X_val: pd.DataFrame) -> np.array:
    """
    This function takes the training data (X_train, y_train) and validation features X_val and returns the prediction for X_val
    
    Args:
        X_train: (pd.DataFrame) containing the training features
        y_train: (pd.DataFrame) containing the training target
        X_val: (pd.DataFrame) containing the validation features
    """
    ...
```